:root {
    --cor1:#235FD9;
    --cor2:#FFE01F;
    --luffy:#AC2426;
    --nami:#F28241;
}

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Passion+One:wght@400;700;900&family=Recursive:wght@300..1000&family=Sriracha&display=swap ');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&family=Passion+One:wght@400;700;900&family=Poppins:wght@400;500;600;700&family=Recursive:wght@300..1000&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Passion+One:wght@400;700;900&family=Poppins:wght@400;500;600;700&family= Recursivo:wght@300..1000&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

main p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: justify;
    font-size: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
    text-indent: 25px;
    line-height: 37px;
}



header {
  
    margin: 0px 1px 0px;
    padding: 20px 0px;
    background-color: #f28241d5;
    text-align: center;
    
    
}

header img {
    width: 75vw;
}

header P {
    color: white;
}

header p strong{
      font-family: Arial, Helvetica, sans-serif;
      color: var(--cor1);
}

nav {
    background-color: #f28241d5;
    margin: 0px 1px 40px 1px;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

nav a {
    background-color: var(--luffy);
    padding: 10px;
     transition: 0.3s;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #F28241;
    border-radius: 10px 0px 10px 0px;
   
}




h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
}


a {
    text-decoration: none;
}


.OnePiece1 {
    color: var(--luffy);
    font-size: 9vw;
    
    margin: 40px 40px 0px 0px;
    padding: 1px 10px 1px;
    border-radius: 5px 5px 0px 0px;
}


#OnePiece {
    position: relative;
    background-color: #f2824171;
    max-width: 600px;
    min-width: 0px;
    
    padding: 30px;
    
   
}

#OnePiece p {
    color: var(--luffy);
}

#imgop {
    width: 10vw;
    position: absolute;
    top: 12px;

}

.container {
    position: relative;
}

.paragrafs{
  border-radius:0px 20px 20px 20px; 
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.473);
  margin: 0px 15px 50px 10px; 
}

#persons {
    background-color: #ac2426ab;
    max-width: 450px;
    min-width: 0px;
    padding: 10px;
    color: var(--luffy);

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#footer {
    color: white;
    text-decoration: underline;
}

#footer:hover {
    background-color: white;
    color: black;
}







