@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border-radius: 10px;
    background-color: white;
    width: 60%;
    box-shadow: 5px 5px 10px #312d5ec9;
    padding: 10px;
    margin: auto;
}
h1 {
color: #4F81F7 ;
text-align: center;
text-shadow: 2px 2px 2px #1b2d57c0;
}

h2 {
color: #EFB7FF;
}

body {
    background-image: linear-gradient(to right, #4F81F7, #00F4CC);
}

p {
    text-align: justify;
}